/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
html {
  font-size: 10px;
}

button {
  all: unset;
}

ul {
  all: unset;
}

body {
 all: unset;
 
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #540b51;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .slack-icon {
    width: 15rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2.5rem;
  }

  #search-icon {
    margin-right: 3rem;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .options-container {
    display: none;
  }

  .ul-container {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  h1 {
    color: white;
    font-size: 4.5rem;
    max-width: 40rem;
    margin-bottom: 1rem;
  }

  #hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }

  #yellow-text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ecb12f;
    font-size: 2rem;
  }

  .paragraph-text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;
  }

  button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #screenshot-container {
    position: relative;
    width: 100vw;
    height: 40rem;
    overflow: hidden;
  }

  #screenshot {
    position: absolute;
    top: 1rem;
    left: -1rem;
    width: 75rem;
    height: 51rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sign-up-button {
    background-color: white;
    flex-grow: 1;
    color: #540b51;
    padding: 2rem 0 2rem 0;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
  }

  #sign-up-google {
    background-color: #4285f4;
    flex-grow: 1;
    color: white;
    padding: 2rem 0 2rem 0rem;
    border-radius: 0.5rem;
    margin-bottom: 3.5rem;
    margin-left: 0.5rem;
    position: relative;
  }

  #google-icon {
    max-width: 3rem;
    position: absolute;
    top: 52.5%;
    left: 3%;
    background-color: white;
    padding: 0.5rem;
    }

  .support-section {
    background-color: #f3eae2;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    }

    .support-section-small {
    display: none;
    }

  #support-text {
    color: #191817;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .first-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
  }

  .second-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 60%;
  }

  .company-icons {
    max-height: 4rem;
  }

  .section-white {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  .section-white-small {
    display: none;
  }


  #section-first-heading {
    color: #540b51;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    max-width: 34rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  #section-subheading {
    color: #191817;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    max-width: 35rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }

  .section-list {
    list-style: none;
    text-align: center;
  }

  .section-list-span {
    color: #540b51;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5rem;
  }

  .section-para {
    color: #191817;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    max-width: 17rem;
  }

  .section-purple {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  #section-second-heading {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    max-width: 34rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .second-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #button-four {
    background-color: white;
    flex-grow: 1;
    color: #540b51;
    padding: 2rem 0 2rem 0;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
  }

  #button-five {
    flex-grow: 1;
    color: white;
    padding: 2rem 0 2rem 0;
    border-radius: 0.5rem;
    border: white solid 0.1rem;
    margin-bottom: 3.5rem;
  }

  footer {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .footer-first-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 2rem;
  }

  .footer-second-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size:2.7rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footer-second-list-small {
    display: none;
  }

  .li-in-list {
    margin-top: 1.0rem; 
    margin-bottom: 1.0rem; 
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    body {
        position: relative;
        background-color: #540b51;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0rem;
      }

    .slack-icon {
        width: 15rem;
        }

      nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 2.5rem;
      }
    
      #search-icon {
        margin-right: 3rem;
      }
    
      .nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .options-container {
        display: none;
      }
    
      .ul-container {
        display: none;
      }

      header{
        background-image: url(../images/background-singup.png);
        background-size:cover;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .header-container {
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: start;
        flex-direction: column;
        margin-left: 1rem;
      }
    
      h1 {
        color: white;
        font-size: 4.5rem;
        max-width: 22rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
    
      #hero-img {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
      }
    
      #yellow-text {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ecb12f;
        font-size: 2rem;
      }

    
      button {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    
      #screenshot-container {
        width: 43rem;
        height: 25rem;
        position: relative;
        overflow-x: hidden;
        overflow-y:visible
      }
    
      #screenshot {
        position: absolute;
        top: 0rem;
        left: 21rem;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: visible;
      }
    
      .button-container {
        display: flex;
        flex-direction: column;
        width: 120%;
      }
    
      .sign-up-button {
        background-color: white;
        flex-grow: 1;
        color: #540b51;
        padding: 2rem 0 2rem 0;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
      }
    
      #sign-up-google {
        background-color: #4285f4;
        flex-grow: 1;
        color: white;
        padding: 2rem 0 2rem 0rem;
        border-radius: 0.5rem;
        margin-bottom: 3.5rem;
        margin-left: 0.5rem;
        position: relative;
      }
    
      #google-icon {
        max-width: 3rem;
        position: absolute;
        top: 32.2%;
        left: 3%;
        background-color: white;
        padding: 0.5rem;
      }
    
      .support-section {
        display: none;
      }

      .support-section-small {
        background-color: #f3eae2;
        max-height: 40rem;
        display: flex;
        /*display:none;*/
        flex-direction: column;
        align-items: center;
      }


      .paragraph-text {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        color: white;
        margin-left: 1rem;

      }

      .beige-text {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-top: 2.5rem;
      }

      #support-text {
        color: #191817;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.7rem;
        text-transform: uppercase;
      }

      .first-icons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 4rem ;
        margin-bottom: 4rem;
        width: 90%;
      }
    
      .company-icons {
        max-height: 4rem;
      }
    
      .section-white {
        display: none;
      }

      .section-white-small {
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
      }

      #div-container-ul {
        width: 100%;
      }

      .container-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5rem;
      }
    
      #section-first-heading {
        color: #540b51;
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 3rem;
        max-width: 50rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    
      #section-subheading {
        color: #191817;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.7rem;
        max-width: 61rem;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
      }
    

      .section-list {
        list-style: none;
        text-align: left;
      }
    
      .section-list-span {
        color: #540b51;
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 5rem;
      }
    
      .section-para {
        color: #191817;
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 1.5rem;
        max-width: 17rem;
      }
    
      .section-purple {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
      }
    
      #section-second-heading {
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 4rem;
        max-width: 61rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    
      .second-button-container {
        display: flex;
        flex-direction: column;
        width: 85%;
      }
    
      #button-four {
        background-color: white;
        flex-grow: 1;
        color: #540b51;
        padding: 2rem 0 2rem 0;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
      }
    
      #button-five {
        flex-grow: 1;
        color: white;
        padding: 2rem 0 2rem 0;
        border-radius: 0.5rem;
        border: white solid 0.1rem;
        margin-bottom: 3.5rem;
      }
    
      footer {
        background-color: white;
        display: flex;
        flex-direction: column;
      }
    
      .footer-first-list {
        display: flex;
        flex-direction: row;
        align-items: start;
        list-style: none;
        font-size: 1.5rem;
        margin: 1rem 0 1rem 2rem;
        justify-content: space-between;
      }
    
      .footer-second-list {
        display: none;
      }

      #footer-div {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;;
      }
    
      .footer-second-list-small {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-size: 2.7rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 40%;
      }

      #empty-space-div {
        width: 60%;
    }

      .li-in-list {
        margin-top: 1.0rem; 
        margin-bottom: 1.0rem; 
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5rem;
      }

      .slack-copyright {
        display: flex;
        margin-bottom: 3rem;
        margin-left: 3rem;
      }
    
}

/*
Maybe a .header{
    display:flex;
    flex-direction:row;
}

and the .screenshot-container{
    smaller
}
*/